<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renj.service">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Android Service">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".local.LocalServiceActivity"
            android:label="本地服务" />

        <service
            android:name=".local.LocalStartService"
            android:label="本地开启服务" />
        <service
            android:name=".local.LocalBinderService"
            android:label="本地绑定服务" />
        <service
            android:name=".local.LocalStartAndBinderService"
            android:label="本地开启并且绑定服务" />
        <service
            android:name=".local.LocalForeService"
            android:label="开启本地前台服务" />


        <activity
            android:name=".remote.RemoteServiceActivity"
            android:label="远程服务" />
        <service
            android:name=".remote.RemoteStartService"
            android:label="远程开启服务"
            android:process="com.renj.remote.service" />
    </application>

</manifest>